@charset "utf-8";
html, body {
    height: 100%;
    overflow: auto;
}

.text-middle {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
}

.text-center {
    text-align: center;
}

.layui-pull-left {
    float: left;
}

.layui-bg-liner{
    color: #fff;
    background-color:#009688;
    background-image: linear-gradient(45deg,#0097b9,#decba4);
    background-image: -webkit-linear-gradient(45deg,#0097b9,#decba4);
    background-image: -moz-linear-gradient(45deg,#0097b9,#decba4);
    background-image: -o-linear-gradient(45deg,#0097b9,#decba4);
}

.layui-pull-right {
    float: right;
}
.layui-pull-center {
    margin: 0px auto;
}
.layui-btn-green{
    background-color:#1DB0B8 ;
}
.layui-body-background{
    background-color: #F2F2F2;
}

/*登录页样式*/
.site-h1 {
    margin-bottom: 20px;
    line-height: 60px;
    padding-bottom: 10px;
    color: #393D49;
    font-size: 26px;
    font-weight: 300;
}

.login-body {
    position: relative;
    width: 100%;
    height: 320px;
    margin-top: 40px;
    margin-bottom: 150px;
}

.layui-input-yj {
    border: none;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #eee;
    padding-left: 30px;
    box-sizing: border-box;
}
.icon {
    position: absolute;
    margin-top: 10px;
    font-size: 18px;
    color: #757575;
}
.show-pwd{
    position: absolute;
    margin-top: 10px;
    right: 10px;
    top: 0px;
    font-size: 24px;
}

.layui-input-yj:focus {
    border-bottom: 1px solid #1E9FFF;
}

.footer {

    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 20px;
    color: #bbbec3;
}

#account {
    text-align: center;
}

.wrap {
    margin-bottom: 100px;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 60px;
    box-shadow: -1px 0px 8px #dedede;
    background-color: #fff;
}

footer .footer-nav {
    display: flex;
}

footer .footer-nav a {
    flex: 1;
    display: block;
    text-align: center;
    padding: 5px 0px;
    line-height: 24px;
    box-sizing: border-box;
}

.on-this {
    border-top: 2px solid #009688;
    color: #009688;
}

.set-body {
    background-color: #F0F0F0;
}

.more-set {
    width: 100%;
    height: auto;
}
.more-set dd{
    background-color: #fff;
}
.head-pic, #acount {
    height: 60px;
    float: left;
    margin-right: 20px;
    color: #a9a9a9;
}
#acount{
	padding: 8px 0px;
    line-height: 20px;
    box-sizing: border-box;
}
.more-set .item{
    position: relative;
    margin:0px 20px;
    height: 30px;
    padding: 10px 0px 10px 10px;
    line-height: 30px;
    font-size: 15px;
    color: #5f5f5f;
}
.more-set .item .iconfont{
    font-size: 22px;
}
/*.more-set .item:after{*/
    /*content: ">";*/
    /*font-size: 20px;*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 0px;*/
    /*color: #c9c9c9;*/
/*}*/
.more-set .border{
    border-bottom: 1px solid #f3f3f3;
}
#switch-item{
    display: none;
    padding: 25px 5px;
    box-sizing: border-box;
}