<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y1ang.dao.BatchMapper">
	<resultMap type="com.y1ang.entity.Batch" id="BatchMap">
		<id column="batch_id" jdbcType="INTEGER" property="batchId" />
		<result column="batch_number" jdbcType="INTEGER"
			property="batchNumber" />
		<result column="batch_status" jdbcType="INTEGER"
			property="batchStatus" />
	</resultMap>

	<!-- 添加批次 -->
	<insert id="addBatch" parameterType="com.y1ang.entity.Batch">
		insert into t_batch
		values(0,#{batchNumber},#{batchStatus})
	</insert>
	<!-- 更新所有批次，将批次状态变为休眠状态 -->
	<update id="updateAll">
		update t_batch set batch_status=0
	</update>

	<!-- 更新最后一条批次的状态 变为激活 -->
	<update id="updateLastStatus">
		update t_batch set batch_status=1 where 1 order by
		batch_id DESC limit 1
	</update>

	<!-- 传入需要激活的批次 激活 -->
	<update id="updateStatus" parameterType="int">
		update t_batch set
		batch_status=1 where batch_number = #{batchNumber}
	</update>

	<!-- 获取所有批次数 -->
	<select id="getBatchCount" resultType="int">
		select
		count(batch_id)
		from t_batch
	</select>

	<!-- 查询所有批次 -->
	<select id="findAllBatch" resultMap="BatchMap">
		select
		batch_id,batch_number,batch_status from t_batch
	</select>

	<!-- 查询激活的批次 -->
	<select id="findStatusActiveBatchNumber" resultType="int">
		select
		batch_number from t_batch where batch_status=1
	</select>

	<!-- 分页查询批次 -->
	<select id="findAllBatchByPage" resultMap="BatchMap"
		parameterType="com.y1ang.entity.Page">
		select batch_id,batch_number,batch_status from t_batch
		limit #{page},#{limit}
	</select>

	<!-- 通过id删除批次 -->
	<delete id="deleteBatch" parameterType="int">
		delete from t_batch where
		batch_id=#{batchId}
	</delete>

</mapper>